@import url("//cdn.web-fonts.ge/fonts/bpg-boxo-boxo/css/bpg-boxo-boxo.min.css");

$color-primary: rgb(139, 93, 255);
$color-primary-rgb: rgb(139, 93, 255);
$gradient-primary: linear-gradient(176deg, rgba(67, 97, 238, 0) 61%, $color-primary-rgb 100%);
$line-gradient: linear-gradient(270deg, rgba(67, 97, 238, 0) 0%, $color-primary-rgb 100%);
$font-geo: "BPG Boxo-Boxo", sans-serif;
;